<md-sidenav-layout>
    <md-sidenav #sideNav>
        <md-nav-list>
            <a md-list-item  routerLink="/symbol" routerLinkActive="active">create</a>
            <a md-list-item  routerLink="/last" routerLinkActive="active">last</a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary" class="toolbar">
        <button md-icon-button (click)="sideNav.open()">
            <md-icon>menu</md-icon>
        </button>
        <span class="toolbar__title">{{pageTitle}}</span>
    </md-toolbar>

    <h1>{{pageTitle}}</h1>

    <router-outlet></router-outlet>
</md-sidenav-layout>

