html {
  padding: 0;
  margin: 0;
}

body {
  background: url('../img/angular-2-shield-large.png') no-repeat center;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
